.cabecalho{
    background-color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80%;
}

.logo h1{
    font-family: 'Cormorant Garamond', serif;
    color: aqua;
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
}

p{
    font-family: 'Oswald', sans-serif;
}

.slide{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 435px;   
    max-width: 80%;
    margin: 0 auto;
}

.feedback{
    width: 80%;
    display: flex;
    justify-content: center; 
    margin-right: auto;
    margin-left: auto;
    flex-direction: wrap;
}

.feedback1{
    border-radius: 20%;
    background-color: white;
    height: 250px; 
    width: 25%;
    margin-top: 15px;
    margin-right: 3%;
    border: 1px;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.textofeedback1 p{
    font-style: italic;
    text-align: center;
    color: black;
    font-size: 18px;
}

.feedback2{
    border-radius: 20%;
    background-color: white;
    height: 250px;    
    width: 25%;
    margin-top: 15px;
    margin-right: 3%;
    border: 1px;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.feedback3{
    border-radius: 20%;
    background-color: white;
    height: 250px;   
    width: 25%;
    margin-top: 15px;
    border: 1px;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.localizacao{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.adress{
    height: 150px;    
    width: 25%;
    margin-top: 15px;
    margin-right: 3%;
    margin-left: 70px;
    font-size: 25px;
}

.rodape{
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 80%;
    left: 0;
    bottom: 0;
    right: 0
    margin: 0 auto;
    background-color: pink;
}

@media (max-width: 600px){
    .cabecalho{
        margin-bottom: 20px;
    }

    .feedback,
    .localizacao{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .feedback1,
    .feedback2,
    .feedback3,
    .adress{
        height: 200px;
        width: 100%;
    }
    
    .mapa{
        width: 100%;
    }

  img{
    height: auto;
    width: 100%;
    margin-top: 0px;
    }
}


/*A partir daqui começa o código da página quem somos*/